@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
  tab-size: 4; /* 3 */
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    Arial,
    sans-serif;
  font-feature-settings: normal;
  font-variation-settings: normal;
}
body {
  -webkit-print-color-adjust: exact !important;
  print-color-adjust: exact !important;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.text-green {
  /* color: #29f3c3; */
  color: #3e8272;
}

.border-green {
  border-color: #29f3c3;
}

.bg-green {
  background-color: #29f3c3;
}

.editor-container {
  min-height: 1080px;
  height: auto;
}

.text-ubuntu {
  font-family: var(--font-ubuntu);
}

.text-cfspaceship {
  font-family: var(--font-cfspaceship);
}

.text-ronnysiswadi {
  font-family: var(--font-ronnysiswadi);
}

.text-motleyforces {
  font-family: var(--font-motleyforces);
}

.text-sparkystones {
  font-family: var(--font-sparkystones);
}

.text-sunnyspells {
  font-family: var(--font-sunnyspells);
}

.text-glitchgoblin {
  font-family: var(--font-glitchgoblin);
}

.text-cabin {
  font-family: var(--font-cabin);
}

.cs-width {
  width: 48%;
}

.tpheight {
  height: 480px;
}

.widget {
  margin-bottom: 2px;
}

.pseudo-element[placeholder]:empty:before {
  content: attr(placeholder);
  color: inherit;
  display: block;
  /* font-style: italic; */
  /* font-size: 13px; */
  font-size: inherit;
  line-height: 16px;
  font-weight: 300;
  pointer-events: none;
}

[contentEditable='true']:empty:not(:focus):before {
  content: attr(placeholder);
  color: #555;
  font-style: italic;
  font-size: 12px;
  font-weight: 300;
  display: block;
  pointer-events: none;
}

@media (min-width: 768px) {
  .tpheight {
    height: 662px;
  }
}

.loading-box {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 2px solid;
  border-color: #fff transparent;
  animation: spin 1s infinite ease-out;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.range-slider {
  position: sticky;
  padding: 24px;
  margin: 48px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  max-width: 500px;
  width: 40%;
  bottom: 4vh;
  border-radius: 24px;
  backdrop-filter: blur(64px);
  border: 2px solid #ffffff;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.12);
}

.custom-range {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  max-width: 300px;
  height: 6px;
  outline: none;
  transition: all 0.3s;
}

.custom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  background-color: #000;
  border: 3px solid #fff;
  cursor: pointer;
  position: relative;
  bottom: 10px;
}

.custom-range::-webkit-slider-runnable-track {
  background: #000;
  height: 6px;
}

/* Define styles for printing */
@media print {
  body *,
  .range-slider,
  .range-slider * {
    visibility: hidden;
  }

  .is-printable,
  .is-printable * {
    visibility: visible;
  }

  .is-printable {
    position: absolute;
    left: 0;
    top: 0;
  }
  html {
    font-size: 78% !important;
    page-break-before: avoid !important;
    page-break-after: avoid !important;
  }
  .editor-container {
    min-height: auto;
    height: auto;
  }

  /* main {
  } */
}
