@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
  tab-size: 4; /* 3 */
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    Arial,
    sans-serif;
  font-feature-settings: normal;
  font-variation-settings: normal;
}
body {
  -webkit-print-color-adjust: exact !important;
  print-color-adjust: exact !important;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.text-green {
  /* color: #29f3c3; */
  color: #3e8272;
}

.border-green {
  border-color: #29f3c3;
}

.bg-green {
  background-color: #29f3c3;
}

.editor-container {
  min-height: 1080px;
  height: auto;
}

.text-ubuntu {
  font-family: var(--font-ubuntu);
}

.text-cfspaceship {
  font-family: var(--font-cfspaceship);
}

.text-ronnysiswadi {
  font-family: var(--font-ronnysiswadi);
}

.text-motleyforces {
  font-family: var(--font-motleyforces);
}

.text-sparkystones {
  font-family: var(--font-sparkystones);
}

.text-sunnyspells {
  font-family: var(--font-sunnyspells);
}

.text-glitchgoblin {
  font-family: var(--font-glitchgoblin);
}

.text-cabin {
  font-family: var(--font-cabin);
}

.cs-width {
  width: 48%;
}

.tpheight {
  height: 480px;
}

.widget {
  margin-bottom: 2px;
}

.pseudo-element[placeholder]:empty:before {
  content: attr(placeholder);
  color: inherit;
  display: block;
  /* font-style: italic; */
  font-size: 13px;
  font-weight: 300;
  pointer-events: none;
}

[contentEditable='true']:empty:not(:focus):before {
  content: attr(placeholder);
  color: #555;
  font-style: italic;
  font-size: 12px;
  font-weight: 300;
  display: block;
  pointer-events: none;
}

@media (min-width: 768px) {
  .tpheight {
    height: 662px;
  }
}

.fancy-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
}

.fancy-spinner div {
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

.fancy-spinner div.ring {
  border-width: 0.25rem;
  border-style: solid;
  border-color: transparent;
  animation: 2s fancy infinite alternate;
}

.fancy-spinner div.dot {
  width: 0.75rem;
  height: 0.75rem;
}
.fancy-spinner div.ring:nth-child(1) {
  border-left-color: blue;
  border-right-color: red;
}

.fancy-spinner div.ring:nth-child(2) {
  border-top-color: green;
  border-bottom-color: purple;
  animation-delay: 1s;
}

@keyframes fancy {
  to {
    transform: rotate(360deg) scale(0.5);
  }
}

.kinetic {
  position: relative;
  height: 24px;
  width: 24px;
}

.kinetic::before,
.kinetic::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-bottom-color: #ffb4e2;
  animation:
    rotateA 1s ease-in-out infinite 0.25s,
    color-change 1s ease-in-out infinite 0.5s;
}

.kinetic::before {
  animation:
    rotateB 2s ease-in-out infinite,
    color-change 2s ease-in-out infinite;
}

@keyframes rotateA {
  0%,
  25% {
    transform: rotate(0deg);
  }

  50%,
  75% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateB {
  0%,
  25% {
    transform: rotate(90deg);
  }

  50%,
  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(450deg);
  }
}

@keyframes color-change {
  75% {
    border-bottom-color: var(--accent-white);
  }
}

.range-slider {
  position: sticky;
  padding: 24px;
  margin: 48px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  max-width: 500px;
  width: 40%;
  bottom: 4vh;
  border-radius: 24px;
  backdrop-filter: blur(64px);
  border: 2px solid #ffffff;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.12);
}

.custom-range {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  max-width: 300px;
  height: 6px;
  outline: none;
  transition: all 0.3s;
}

.custom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  background-color: #000;
  border: 3px solid #fff;
  cursor: pointer;
  position: relative;
  bottom: 10px;
}

.custom-range::-webkit-slider-runnable-track {
  background: #000;
  height: 6px;
}

/* Define styles for printing */
@media print {
  body *,
  .range-slider,
  .range-slider * {
    visibility: hidden;
  }

  .is-printable,
  .is-printable * {
    visibility: visible;
  }

  .is-printable {
    position: absolute;
    left: 0;
    top: 0;
  }
  html {
    font-size: 78% !important;
    page-break-before: avoid !important;
    page-break-after: avoid !important;
  }
  .editor-container {
    min-height: auto;
    height: auto;
  }

  /* main {
  } */
}
